<div class="quiz-container">
  <header class="quiz-header">
    <h1 class="quiz-title">Ultimate Sports Quiz</h1>
    <div class="score-timer">
      <span class="timer"
        >Time Left: <span id="timerCount">{{ this.count }}</span
        >s
      </span>
    </div>
  </header>

  <div class="w-full bg-gray-200 h-2.5 dark:bg-blue-700">
    <div
      class="bg-red-800 h-2.5 transit"
      [style.width]="progress + '%'"
      style="transition: width 1s ease-in-out"
    ></div>
  </div>
  <section class="question-section">
    <h2 class="question-title">
      {{ displayQuestion()?.question }}
    </h2>
    <ul class="answers">
      @if (displayQuestion()?.options) { @for (option of
      displayQuestion().options; track option; let index = $index) {
      <li class="answer-option">
        <button
          class="answer-btn"
          [ngClass]="{
            selected: optionIndex === index,
          }"
          (click)="verifyOption(option, index)"
        >
          {{ option }}
        </button>
      </li>
      } }
    </ul>
  </section>

  <footer class="quiz-footer">
    @if (optionClicked) {

    <button class="next-btn" (click)="nextQuestion()">Next Question</button>
    }
    <p class="progress">
      Question {{ currentIndex + 1 }} of
      {{ questionArray.length - currentIndex }}
    </p>
  </footer>
</div>

<!-- Modal Background -->
<div *ngIf="showModal" class="modal-overlay">
  <!-- Modal Content -->
  <div class="modal-content">
    <h2 class="modal-title">Quiz Completed!</h2>
    <p class="modal-message">Your Score: {{ marks }} / 100</p>
    <button class="close-btn" (click)="closeModal()">Close</button>
  </div>
</div>
