<div class="quiz-container">
  <header class="quiz-header">
    <h1 class="quiz-title">Ultimate Sports Quiz</h1>
    <div class="score-timer flex items-center gap-4">
      <span class="timer"
        >Time Left: <span id="timerCount">{{ this.count }}</span
        >s
      </span>
    </div>
  </header>

  <div class="w-full bg-gray-200 h-2.5 dark:bg-blue-700">
    <div
      class="bg-red-800 h-2.5 transit"
      [style.width]="progress + '%'"
      style="transition: width 1.2s cubic-bezier(0.4, 0, 0.2, 1)"
    ></div>
  </div>
  <section class="question-section">
    <h2 class="question-title">
      {{ displayQuestion()?.question }}
    </h2>
    <ul class="answers">
      @if (displayQuestion()?.options) { @for (option of
      displayQuestion().options; track option; let index = $index) {
      <li class="answer-option">
        <button
          class="answer-btn"
          [ngClass]="{
            selected: optionIndex === index,
          }"
          (click)="verifyOption(option, index)"
        >
          {{ option }}
        </button>
      </li>
      } }
    </ul>
  </section>

  <footer class="quiz-footer">
    @if (optionClicked) {
    <button class="next-btn" (click)="nextQuestion()">
      {{
        questionArray.length - currentIndex == 1 ? "Submit" : "Next Question"
      }}
    </button>
    <button class="btn btn-danger" (click)="submitQuiz()">Submit Quiz</button>
    }
    <p class="progress">
      Question {{ currentIndex + 1 }} of
      {{ questionArray.length - currentIndex }}
    </p>
  </footer>
</div>

<div
  *ngIf="showModal"
  class="modal-overlay fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
>
  <div class="modal-content bg-white rounded-lg shadow-lg p-6 text-center">
    <h2 class="modal-title text-xl font-bold text-gray-800">
      Are you sure you want to submit?
    </h2>
    <p class="modal-message text-md text-gray-600 mt-4">
      If you submit now, you will proceed to the final stage.
    </p>
    <div class="mt-6 space-x-4">
      <button class="btn btn-primary" (click)="submitQuiz()">
        Yes, Submit
      </button>
      <button class="btn btn-danger" (click)="closeModal()">No, Go Back</button>
    </div>
  </div>
</div>
