<div class="min-h-screen bg-gray-100">
  <header class="bg-blue-600 text-white py-6 shadow-lg">
    <h1 class="text-center text-4xl font-bold tracking-wide">
      Electric Vehicle Dashboard
    </h1>
  </header>

  <div class="container mx-auto py-10 px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <div
        class="bg-white p-6 shadow-md rounded-lg hover:shadow-xl transition duration-300 ease-in-out"
      >
        <h2 class="text-2xl font-semibold text-gray-800 mb-3">Total EVs</h2>
        <p class="text-5xl font-bold text-blue-600">{{ evData.length }}</p>
      </div>

      <div
        class="bg-white p-6 shadow-md rounded-lg hover:shadow-xl transition duration-300 ease-in-out"
      >
        <h2 class="text-2xl font-semibold text-gray-800 mb-3">
          EVs by Manufacturer
        </h2>
        <div id="chart">
          @if (chartOptions) {
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
            [dataLabels]="chartOptions.dataLabels"
            [title]="chartOptions.title"
            [colors]="chartOptions.colors"
            [tooltip]="chartOptions.tooltip"
            [legend]="chartOptions.legend"
            [stroke]="chartOptions.stroke"
          ></apx-chart>
          }
        </div>
      </div>

      <div
        class="bg-white p-6 shadow-md rounded-lg hover:shadow-xl transition duration-300 ease-in-out"
      >
        <h2 class="text-2xl font-semibold text-gray-800 mb-3">EVs by Type</h2>
        <div id="pieChart">
          @if (pieChartOptions) {
          <apx-chart
            *ngIf="pieChartOptions"
            [series]="pieChartOptions.series"
            [chart]="pieChartOptions.chart"
            [labels]="pieChartOptions.labels"
            [title]="pieChartOptions.title"
            [dataLabels]="pieChartOptions.dataLabels"
            [tooltip]="pieChartOptions.tooltip"
            [legend]="pieChartOptions.legend"
          ></apx-chart>
          }
        </div>
      </div>
    </div>
  </div>

  <div class="container mx-auto py-8">
    <div
      class="bg-white p-6 shadow-md rounded-lg hover:shadow-xl transition duration-300 ease-in-out"
    >
      <h2 class="text-2xl font-semibold text-gray-800 mb-3">
        Year-wise EV Registrations
      </h2>
      <div id="yearChart">
        @if (yearChartOptions) {
        <apx-chart
          *ngIf="yearChartOptions"
          [series]="yearChartOptions.series"
          [chart]="yearChartOptions.chart"
          [xaxis]="yearChartOptions.xaxis"
          [dataLabels]="yearChartOptions.dataLabels"
          [title]="yearChartOptions.title"
          [colors]="yearChartOptions.colors"
          [tooltip]="yearChartOptions.tooltip"
          [legend]="yearChartOptions.legend"
        ></apx-chart>
        }
      </div>
    </div>

    <section class="py-4">
      <div class="bg-white shadow-md rounded-lg mt-6">
        <div class="flex justify-between items-center p-4">
          <h2 class="text-2xl font-semibold text-gray-800">Explore EV Data</h2>
          <input
            type="text"
            placeholder="Search by Make or Model..."
            [(ngModel)]="searchText"
            class="p-2 border rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400 w-1/3"
          />
        </div>
        <div class="p-4">
          <div class="flex items-center gap-4">
            <div class="w-1/3">
              <ng-multiselect-dropdown
                [placeholder]="'Select Filters'"
                [settings]="dropdownSettings"
                [data]="dropdownList"
                [(ngModel)]="selectedFilters"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                (onDeSelect)="onItemDeselect($event)"
                (onDeSelectAll)="onDeselectAll($event)"
              >
              </ng-multiselect-dropdown>
            </div>
            <button
              (click)="clearFilters()"
              class="px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white rounded-md transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
            >
              Clear Filters
            </button>
          </div>
        </div>

        <div class="overflow-auto">
          <table class="items-center w-full whitespace-nowrap">
            <thead class="bg-gray-50 text-xs text-gray-600 font-medium">
              <tr>
                <th
                  class="px-6 align-middle border-b border-gray-200 py-3 uppercase text-left"
                >
                  S.No
                </th>
                <th
                  class="px-6 align-middle border-b border-gray-200 py-3 uppercase text-left"
                >
                  VIN (1-10)
                </th>
                <th
                  class="px-6 align-middle border-b border-gray-200 py-3 uppercase text-left"
                >
                  County
                </th>
                <th
                  class="px-6 align-middle border-b border-gray-200 py-3 uppercase text-left"
                >
                  City
                </th>
                <th
                  class="px-6 align-middle border-b border-gray-200 py-3 uppercase text-left"
                >
                  State
                </th>
                <th
                  class="px-6 align-middle border-b border-gray-200 py-3 uppercase text-left"
                >
                  Model Year
                </th>
                <th
                  class="px-6 align-middle border-b border-gray-200 py-3 uppercase text-left"
                >
                  Make
                </th>
                <th
                  class="px-6 align-middle border-b border-gray-200 py-3 uppercase text-left"
                >
                  Model
                </th>
                <th
                  class="px-6 align-middle border-b border-gray-200 py-3 uppercase text-left"
                >
                  Electric Range
                </th>
                <th
                  class="px-6 align-middle border-b border-gray-200 py-3 uppercase text-left"
                >
                  Electric Utility
                </th>
              </tr>
            </thead>
            <tbody>
              @for (item of filteredData(); track item; let index = $index) {
              <tr [ngClass]="{ 'bg-gray-50': index % 2 === 0 }">
                <th
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 whitespace-nowrap p-4 text-left text-sm text-gray-600 font-normal"
                >
                  {{ index + 1 }}
                </th>
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 p-4 text-sm text-gray-600"
                >
                  <div class="truncate">{{ item["VIN (1-10)"] }}</div>
                </td>
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 p-4 text-gray-600"
                >
                  <div class="truncate">{{ item.County }}</div>
                </td>
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 p-4 text-gray-600"
                >
                  <div class="truncate">{{ item.City }}</div>
                </td>
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 p-4 text-gray-600"
                >
                  <div class="truncate">{{ item.State }}</div>
                </td>
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 p-4 text-gray-600"
                >
                  <div class="truncate">{{ item["Model Year"] }}</div>
                </td>
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 p-4 text-gray-600"
                >
                  <div class="truncate">{{ item.Make }}</div>
                </td>
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 p-4 text-gray-600"
                >
                  <div class="truncate">{{ item.Model }}</div>
                </td>
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 p-4 text-gray-600"
                >
                  <div class="truncate">{{ item["Electric Range"] }} miles</div>
                </td>
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 p-4 text-gray-600"
                >
                  <div class="truncate">{{ item["Electric Utility"] }}</div>
                </td>
              </tr>
              }
            </tbody>
          </table>

          @if (loadingMore) {
          <div class="bouncing-loader">
            <div></div>
            <div></div>
            <div></div>
          </div>
          } @if (filteredData().length === 0 && !loadingMore) {
          <div class="text-center p-4 text-gray-600">
            No results found for your search/filter criteria
          </div>
          }
        </div>
      </div>
    </section>
  </div>
</div>
