@tailwind base;
@tailwind components;
@tailwind utilities;

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
}

table {
  table-layout: auto;
}

.w-full {
  overflow-x: auto;
}
